html {
    scroll-behavior: smooth;
}

#intro {
    background: url("/static/images/shiva (1).jpg") no-repeat center center;
    background-size: cover;
}


/*     
.top-nav-collapse {
    background: rgb(0, 0, 0);
}

.navbar:not(.top-nav-collapse) {
    background: rgb(0, 0, 0);
}

@media (max-width: 700px) {
    .navbar:not(.top-nav-collapse) {
        background: #000000;
    }
}
 */

#intro .h6 {
    font-weight: 300;
    line-height: 1.7;
}

.site-bg-img {
    height: 100vh;
    min-height: 480px;
    max-height: 1080px;
}

.hm-gradient .site-bg-img {
    background: rgba(0, 0, 0, 0.43);
    background: linear-gradient(71deg, rgb(2 8 32 / 87%), rgb(92 93 98 / 2%) 100%);
}

@media (max-width: 450px) {
    .margins {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

#pricing .lead {
    opacity: 0.7;
}

#pricing .card-image {
    background: url("/static/images/panorma.jpg") no-repeat center center;
}

#pricing ul li {
    font-size: 1.1em;
}


/* for scroller to top */

#btn-back-to-top {
    position: fixed;
    bottom: 10px;
    background-color: black;
    background: transparent;
    text-align: center;
    color: rgb(0, 0, 0);
    right: 10px;
    /* display: none; */
    /* height: 10px; */
    /* width: 10px; */
    /* padding: 1px; */
    /* width: 74px; */
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 27%;
    display: none;
    display: inline-block;
    padding: revert;
}

@media (max-width: 1000px) {
    #btn-back-to-top {
        position: fixed;
        bottom: 10px;
        right: 10px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        border-radius: 27%;
        display: none;
        display: inline-block;
        padding: revert;
    }
}

@media (max-width: 450px) {
    #btn-back-to-top {
        position: fixed;
        bottom: 10px;
        right: 10px;
        display: none;
    }
}